@page "/viewtickets"
@using Models;
@using Services;
@inject CosmosDBService cosmosService;

<h3>View Tickets</h3>
@if(allTickets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(allTickets.Count() == 0)
    {
        <p><em>No tickets found in database...</em></p>
    }
    else
    {
        <table>
        <tr>
            <th>TicketId</th>
            <th>Category</th>
            <th>Description</th>
            <th>Submissiondate</th>
		    <th colspan="3">Created by</th>
        </tr>
        @foreach (var ticket in allTickets)
        {
            <tr>
                <td>@ticket.TicketId</td>
                <td>@ticket.Category</td>
                <td>@ticket.Description</td>
                <td>@ticket.Date</td>
                <td>@ticket.Contact</td>
                <td>@ticket.ContactEmail</td>
                <td>@ticket.ContactPhoneNumber</td>
            </tr>
        }
        </table>
    }

}

@code {
    public List<SupportMessage> allTickets = new List<SupportMessage>();

    protected override async Task OnInitializedAsync()
    {
        allTickets = await cosmosService.GetAllSupportMessagesAsync();
    }
}
